body{
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.cardstyle{
  display: inline-flex;
  flex-wrap: wrap;
}

.cardstyle > div {
  margin: 6px;
}

.newslistpage{
  background-color: aqua;
}

.titlenews{
  font-family: "Lato";
    font-size: 2em;
    color: #0b0c11;
    letter-spacing: 2px;
    cursor: default;
}

.navlist{
  display: inline-flex;
}

.navlist> li{
  margin: 6px;
  color: antiquewhite;
}

ul {
  list-style-type: none;
}

.navbar{
  background-color: black;
}

.visitorinfo{
  display: inline-flex;
  flex-wrap: wrap;
  margin-right: 100px;
  margin-left: 100px;
}

.space-between{
  justify-content:center;
}
.visitorinfo>label{
  flex:33%;
  padding: 10px;
  width: 91px;
}

.visitorinfo>label>input{
  padding: 10px;
  width: 300px;
  margin: 6px;
}

.visitorinfo>label> select{
  padding: 10px;
  width: 300px;
  margin: 6px;
}


label {
  text-align: right;
  clear: both;
  float:left;
  margin-right:15px;
}

@media only screen and (max-width: 600px) {
  .visitorinfo>label{
    padding: 10px;
    width: 91px;
  }
  .visitorinfo>label>input{
    padding: 10px;
    width: 170px;
    margin: 6px;
  }
  
  .visitorinfo>label> select{
    padding: 10px;
    width: 170px;
    margin: 6px;
  }
}

@media only screen and (max-width: 320px) {
  .visitorinfo>label{
    padding: 10px;
    width: 91px;
  }
  .visitorinfo>label>input{
    padding: 10px;
    width: 130px;
    margin: 6px;
  }
  
  .visitorinfo>label> select{
    padding: 10px;
    width: 130px;
    margin: 6px;
  }
}